<nav>
    <div class="nav-container">
        <a href="/index.html">
            <img src="../../images/branding/lil circle.png" alt="Alliance NEPA" class="logo">
        </a>
        <div class="menu-toggle" onclick="toggleMenu()">
            <span></span><span></span><span></span>
        </div>
        <ul class="nav-links" id="navLinks">
            <li class="dropdown">
                <a href="#rules">Rules</a>
                <div class="dropdown-content">
                    <a href="/lco.html">Local Chapter Only Rules</a>
                    <a href="/pdfs/Alliance_LARP_Rulebook.pdf">Alliance Rulebook</a>
                    <a href="/site-rules.html">Site Rules</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#lore">Lore</a>
                <div class="dropdown-content">
                    <a href="/races.html">Heritages (Races)</a>
                    <a href="/prelore.html">Pre-Emergence Lore</a>
                    <a href="/postlore.html">Post-Emergence Lore</a>
                    <a href="/laws.html">Bastion Code of Law</a>
                </div>
            </li>
            <li><a href="/new_player.html">New Player Info</a></li>
            <li><a href="/faq.html">FAQ</a></li>
            <li><a href="/contact.html">Contact</a></li>
            <li><a href="/store.html">Store</a></li>
            <li><a href="/registration.html" class="cta-btn">REGISTRATION</a></li>
        </ul>
    </div>
</nav>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4QhKX5x2Zx2vJfKj7SkG6V5A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
